<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <title>测试thymeleaf的使用</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3" />
    <meta name="description" content="this is my page" />
    <meta name="content-type" content="text/html; charset=UTF-8">

    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

</head>

<!--<body>-->
<!--<h3 th:text="${user.name}"></h3><br>-->
<!--<h3 th:text="${user.active}"></h3><br>-->
<!--<hr>-->


<div shiro:hasPermission="user:add">
    进入用户添加功能:<a href="add">用户添加</a><br>
</div>
<div shiro:hasPermission="user:update">
    进入用户更新功能:<a href="update">用户更新</a><br>
</div>

<form action="dologout" method="post">
    退出：
    <input type="submit" value="退出"/>
</form>
</body>
<!--<script type="text/javascript" th:src="@{/js/jquery.js}"></script>-->
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script><script type="text/javascript">
    function kickout(){
        var href=location.href;
        if(href.indexOf("kickout")>0){
            alert("您的账号在另一台设备上登录,如非本人操作，请立即修改密码！");
        }
    }
    window.onload=kickout();
</script>

</html>

